@mixin wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
@mixin btn {
    width: 370px;
    height: 80px;
    font-size: $_h4;
    font-weight: 900;
    background-color: #FF4343;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
    border-style:none;
    text-transform: uppercase;
    display: block;
    margin: auto;
    &:hover {
      background-color: #E71414;
    }
    &:active {
      background-color: #FF4343;
      box-shadow: 4px 4px 30px #FF4343;
    }
    @media (max-width: 1024px) {
      width: 355px;
    }
    @media (max-width: 320px) {
      width: 280px;
      height: 60px;
    }
}
