.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./../img/bg_img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    @media (max-width: 320px) {
        height: 100vh;
        .container {
            padding: 0;
        }
    }
}
.header::after  {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba($color: #252B49, $alpha: 0.8);
    position: absolute;
    top: 0;
    left: 0;
}
.wrapper-header {
    margin: 0 -15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    padding: 39px 0 120px;
    @media (max-width: 1024px) {
        padding: 37px 0 125px;
    }
    @media (max-width: 320px) {
        padding: 0;
    }
}
.wrapper {
    @include wrapper;
    position: relative;
    margin: 0 15px;
    padding-bottom: 35px;
    border-bottom: 1px solid #BABBC5;
    @media (max-width: 320px) {
        border-bottom: 1px solid transparent;
        padding: 0 20px;
    }
}
.header-logo {
    font-size: $_h2;
    text-align: left;
    text-transform: uppercase;
    @media (max-width: 320px) {
        font-size: 1.25rem;
        padding: 36px 0;
        position: relative;
        z-index: 100;
    }
    .logo-1 {
        font-weight: 900;
        color: #656980;
    }
    .logo-2 {
        font-weight: 200;
        color: #fff;
    }
}
.navigation {
    @media (max-width: 320px) {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: -500;
        left: 0;
        transition: 0,8s;
    }
}
.navigation.active {
    @media (max-width: 320px) {
        position: absolute;
        background-color: rgba($color: #252B49, $alpha: 0.8);
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        transition: 0,8s;
    }
}
.burger-menu {
    display: none;
    @media (max-width: 320px) {
        display: block;
        position: relative;
        z-index: 1;
        cursor: pointer;
        font-size: $_h4;
        color: #fff;
    }
}
.navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @media (max-width: 320px) {
        flex-direction: column;
        margin-top: 110px;
        .navigation-list-item {
            padding: 0;
            margin-bottom: 50px;
            margin-left: 50px;
        }
    }
    .navigation-list-item a {
        font-size: $_h6;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        position: relative;
        padding: 0px 32px 41px 30px;
        &:hover {
            &::after {
                content: "";
                width: 100%;
                height: 3px;
                display: block;
                background-color: #BABBC5;
                position: absolute;
                top: 100%;
            }
        }
        &:active {
            color: #E71414;
            &::after {
                content: "";
                width: 100%;
                height: 3px;
                display: block;
                background-color: #E71414;
                position: absolute;
            }
        }
        @media (max-width: 1024px) {
            font-size: 0.75rem;
        }
    }
}
.firstscreen {
    padding-top: 140px;
    margin: 0 15px;
    @media (max-width: 1024px) {
        padding-top: 158px;
    }
    @media (max-width: 320px) {
        padding: 50px 20px 52px 20px;
    }
}
.main-title {
    font-size: $_h1;
    font-weight: 900;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-stroke: #000 1px;
    padding-bottom: 51px;
    @media (max-width: 1024px) {
        font-size: 3rem;
        padding-bottom: 77px;
        -webkit-text-stroke: 0px;
    }
    @media (max-width: 320px) {
        font-size: $_h2;
    }
}
.firstscreen-description {
    font-size: $_h4;
    font-weight: 400;
    color: #fff;
    text-align: center;
    -webkit-text-stroke: #000 0.5px;
    padding-bottom: 87px;
    @media (max-width: 1024px) {
        font-size: $_h5;
        -webkit-text-stroke: 0px;
        padding: 0px 117px 89px 117px;
    }
    @media (max-width: 320px) {
        font-size: 0.875rem;
        padding: 0 0 49px 0;
    }
}
.btn {
    @include btn;
    animation-name: btn;
    position: relative;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: 10;
}
@keyframes btn {
0% {
    transform: scale(0.9);
}
100% {
    transform: scale(1.1);
}    
}