.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./../img/bg_img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    @media (max-width: 320px) {
        display: none;
    }
}
.header::after  {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba($color: #252B49, $alpha: 0.8);
    position: absolute;
    top: 0;
    left: 0;
}
.wrapper-header {
    margin: 0 -15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    padding: 39px 0 120px;
    @media (max-width: 1024px) {
        padding: 37px 0 125px;
    }
}
.wrapper {
    @include wrapper;
    position: relative;
    margin: 0 15px;
    padding-bottom: 35px;
    border-bottom: 1px solid #BABBC5;
}
.header-logo {
    font-size: $_h2;
    text-align: left;
    text-transform: uppercase;
    @media (max-width: 320px) {
        font-size: 1.25rem;
    }
    .logo-1 {
        font-weight: 900;
        color: #656980;
    }
    .logo-2 {
        font-weight: 200;
        color: #fff;
    }
}
.navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .navigation-list-item a {
        font-size: $_h6;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        position: relative;
        padding: 0px 32px 41px 30px;
        &:hover {
            &::after {
                content: "";
                width: 100%;
                height: 3px;
                display: block;
                background-color: #BABBC5;
                position: absolute;
                top: 100%;
            }
        }
        &:active {
            color: #E71414;
            &::after {
                content: "";
                width: 100%;
                height: 3px;
                display: block;
                background-color: #E71414;
                position: absolute;
            }
        }
        @media (max-width: 1024px) {
            font-size: 0.75rem;
        }
    }
}
.firstscreen {
    padding-top: 140px;
    margin: 0 15px;
    @media (max-width: 1024px) {
        padding-top: 158px;
    }
}
.main-title {
    font-size: $_h1;
    font-weight: 900;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-stroke: #000 1px;
    padding-bottom: 51px;
    @media (max-width: 1024px) {
        font-size: 3rem;
        padding-bottom: 77px;
        -webkit-text-stroke: 0px;
    }
}
.firstscreen-description {
    font-size: $_h4;
    font-weight: 400;
    color: #fff;
    text-align: center;
    -webkit-text-stroke: #000 0.5px;
    padding-bottom: 87px;
    @media (max-width: 1024px) {
        font-size: $_h5;
        -webkit-text-stroke: 0px;
        padding: 0px 117px 89px 117px;
    }
}
.btn {
    @include btn;
}